certifi==2023.7.22
charset-normalizer==3.2.0
click==8.0.1
Flask==2.0.1
Flask-Cors==4.0.0
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
idna==3.4
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
mdurl==0.1.2
optional-django==0.3.0
psycopg2-binary==2.9.3
Pygments==2.16.1
react==4.3.0
requests==2.31.0
rich==13.5.2
SQLAlchemy==1.4.18
urllib3==2.0.4
Werkzeug==2.0.1
